In [3]:
import pandas as pd
from tqdm.auto import tqdm
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt

In [2]:
flights = pd.read_csv(r"E:\Ahmed fathy\introduction to Data analytics\introduction to Data analytics\US 2023 civil flights\US_flights_2023.csv")
weather = pd.read_csv(r"E:\Ahmed fathy\introduction to Data analytics\introduction to Data analytics\US 2023 civil flights\weather_meteo_by_airport.csv")
cancelled_diverted = pd.read_csv(r"E:\Ahmed fathy\introduction to Data analytics\introduction to Data analytics\US 2023 civil flights\Cancelled_Diverted_2023.csv")
airports_location = pd.read_csv(r"E:\Ahmed fathy\introduction to Data analytics\introduction to Data analytics\US 2023 civil flights\airports_geolocation.csv")

In [ ]:
print(flights["Day_Of_Week"].unique())

[1 2 3 4 5 6 7]

In [6]:
day_of_week_mapping = {
    1: "Monday",
    2: "Tuesday",
    3: "Wednesday",
    4: "Thursday",
    5: "Friday",
    6: "Saturday",
    7: "Sunday",
}
flights["Day_Of_Week"] = flights["Day_Of_Week"].map(day_of_week_mapping)
cancelled_diverted["Day_Of_Week"] = cancelled_diverted["Day_Of_Week"].map(day_of_week_mapping)

In [ ]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6743404 entries, 0 to 6743403
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   FlightDate          object
 1   Day_Of_Week         object
 2   Airline             object
 3   Tail_Number         object
 4   Dep_Airport         object
 5   Dep_CityName        object
 6   DepTime_label       object
 7   Dep_Delay           int64
 8   Dep_Delay_Tag       int64
 9   Dep_Delay_Type      object
 10  Arr_Airport         object
 11  Arr_CityName        object
 12  Arr_Delay           int64
 13  Arr_Delay_Type      object
 14  Flight_Duration     int64
 15  Distance_type       object
 16  Delay_Carrier       int64
 17  Delay_Weather       int64
 18  Delay_NAS           int64
 19  Delay_Security      int64
 20  Delay_LastAircraft  int64
 21  Manufacturer        object
 22  Model               object
 23  Aicraft_age         int64
dtypes: int64(10), object(14)
memory usage: 1.2+ GB

In [8]:
old = flights.memory_usage(deep=True) / 1024**2
old

Index                   0.000126
FlightDate            430.877750
Day_Of_Week           412.335052
Airline               495.177408
Tail_Number           405.137172
Dep_Airport           385.860672
Dep_CityName          450.460842
DepTime_label         415.689714
Dep_Delay              51.448090
Dep_Delay_Tag          51.448090
Dep_Delay_Type        429.099715
Arr_Airport           385.860672
Arr_CityName          450.466407
Arr_Delay              51.448090
Arr_Delay_Type        429.124532
Flight_Duration        51.448090
Distance_type         483.129905
Delay_Carrier          51.448090
Delay_Weather          51.448090
Delay_NAS              51.448090
Delay_Security         51.448090
Delay_LastAircraft     51.448090
Manufacturer          415.923480
Model                 399.199087
Aicraft_age            51.448090
dtype: float64

In [9]:
flights["FlightDate"] = flights["FlightDate"].astype("datetime64[ns]")

In [10]:
categorical_columns =[
    "Airline",
    "Dep_Airport",
    "Dep_CityName",
    "DepTime_label",
    "Dep_Delay_Type",
    "Arr_Airport",
    "Arr_CityName",
    "Arr_Delay_Type",
    "Distance_type",
    "Manufacturer",
    "Model",
    "Day_Of_Week"
]
for column in categorical_columns:
    flights[column] = flights[column].astype("category")

In [11]:
num_columns = [
    "Dep_Delay",
    "Dep_Delay_Tag",
    "Arr_Delay",
    "Flight_Duration",
    "Delay_Carrier",
    "Delay_Weather",
    "Delay_NAS",
    "Delay_Security",
    "Delay_LastAircraft",
    "Aicraft_age",
]
for column1 in num_columns :
    flights[column1]=flights[column1].astype("int32")

In [12]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6743404 entries, 0 to 6743403
Data columns (total 24 columns):
 #   Column              Dtype
---  ------              -----
 0   FlightDate          datetime64[ns]
 1   Day_Of_Week         category
 2   Airline             category
 3   Tail_Number         object
 4   Dep_Airport         category
 5   Dep_CityName        category
 6   DepTime_label       category
 7   Dep_Delay           int32
 8   Dep_Delay_Tag       int32
 9   Dep_Delay_Type      category
 10  Arr_Airport         category
 11  Arr_CityName        category
 12  Arr_Delay           int32
 13  Arr_Delay_Type      category
 14  Flight_Duration     int32
 15  Distance_type       category
 16  Delay_Carrier       int32
 17  Delay_Weather       int32
 18  Delay_NAS           int32
 19  Delay_Security      int32
 20  Delay_LastAircraft  int32
 21  Manufacturer        category
 22  Model               category
 23  Aicraft_age         int32
dtypes: category(12), datetime64[ns](1), int32(10), object(1)
memory usage: 463.1+ MB

In [13]:
new = flights.memory_usage(deep=True) / 1024**2
new

Index                   0.000126
FlightDate             51.448090
Day_Of_Week             6.431726
Airline                 6.432625
Tail_Number           405.137172
Dep_Airport            12.889961
Dep_CityName           12.893191
DepTime_label           6.431419
Dep_Delay              25.724045
Dep_Delay_Tag          25.724045
Dep_Delay_Type          6.431310
Arr_Airport            12.889961
Arr_CityName           12.893191
Arr_Delay              25.724045
Arr_Delay_Type          6.431310
Flight_Duration        25.724045
Distance_type           6.431329
Delay_Carrier          25.724045
Delay_Weather          25.724045
Delay_NAS              25.724045
Delay_Security         25.724045
Delay_LastAircraft     25.724045
Manufacturer            6.431500
Model                   6.432774
Aicraft_age            25.724045
dtype: float64

In [14]:
flights.sample(5)

,FlightDate,Day_Of_Week,Airline,Tail_Number,Dep_Airport,Dep_CityName,DepTime_label,Dep_Delay,Dep_Delay_Tag,Dep_Delay_Type,...,Flight_Duration,Distance_type,Delay_Carrier,Delay_Weather,Delay_NAS,Delay_Security,Delay_LastAircraft,Manufacturer,Model,Aicraft_age
273355,2023-01-04,Wednesday,Southwest Airlines Co.,N8511K,PHL,"Philadelphia, PA",Night,0,0,Low <5min,...,121,Short Haul >1500Mi,0,0,0,0,0,BOEING,737 NG,8
6736670,2023-12-22,Friday,JetBlue Airways,N907JB,FLL,"Fort Lauderdale, FL",Morning,2,1,Low <5min,...,184,Short Haul >1500Mi,0,0,0,0,0,AIRBUS,A321,11
3960089,2023-08-27,Sunday,American Airlines Inc.,N108UW,DCA,"Washington, DC",Morning,117,1,Hight >60min,...,188,Short Haul >1500Mi,103,0,0,0,0,AIRBUS,A320,25
2123972,2023-04-08,Saturday,Endeavor Air,N490PX,ORF,"Norfolk, VA",Afternoon,-5,0,Low <5min,...,71,Short Haul >1500Mi,0,0,0,0,0,CANADAIR REGIONAL JET,CRJ,4
6649007,2023-12-26,Tuesday,American Airlines Inc.,N714US,MIA,"Miami, FL",Evening,15,1,Low <5min,...,190,Short Haul >1500Mi,0,0,0,0,0,AIRBUS,A319,25

In [15]:
flights.select_dtypes(include=["object","category"]).describe(include="all").T

                  count unique                     top     freq
Day_Of_Week     6743404      7                  Friday  1003622
Airline         6743404     15  Southwest Airlines Co.  1421238
Tail_Number     6743404   5963                  N488HA     3327
Dep_Airport     6743404    350                     ATL   332935
Dep_CityName    6743404    344             Chicago, IL   338766
DepTime_label   6743404      4                 Morning  2611567
Dep_Delay_Type  6743404      3               Low <5min  5409737
Arr_Airport     6743404    350                     ATL   332941
Arr_CityName    6743404    344             Chicago, IL   338319
Arr_Delay_Type  6743404      3               Low <5min  5403727
Distance_type   6743404      3      Short Haul >1500Mi  5872159
Manufacturer    6743404      5                  BOEING  3122320
Model           6743404     21                  737 NG  2703494

In [16]:
flights.describe().T

,count,mean,min,25%,50%,75%,max,std
FlightDate,6743404,2023-07-04 07:06:16.929396480,2023-01-01 00:00:00,2023-04-06 00:00:00,2023-07-06 00:00:00,2023-10-02 00:00:00,2023-12-31 00:00:00,NaN
Dep_Delay,6743404.0,12.200987,-99.0,-5.0,-2.0,9.0,4413.0,55.079361
Dep_Delay_Tag,6743404.0,0.379001,0.0,0.0,0.0,1.0,1.0,0.485138
Arr_Delay,6743404.0,6.627152,-119.0,-15.0,-6.0,9.0,4405.0,57.078921
Flight_Duration,6743404.0,140.297779,0.0,87.0,124.0,171.0,795.0,72.872157
Delay_Carrier,6743404.0,5.169804,0.0,0.0,0.0,0.0,3957.0,36.457324
Delay_Weather,6743404.0,0.74285,0.0,0.0,0.0,0.0,1860.0,14.353928
Delay_NAS,6743404.0,2.566957,0.0,0.0,0.0,0.0,1708.0,15.004842
Delay_Security,6743404.0,0.030649,0.0,0.0,0.0,0.0,1460.0,1.628923
Delay_LastAircraft,6743404.0,5.681108,0.0,0.0,0.0,0.0,3581.0,30.446469
Aicraft_age,6743404.0,13.480626,1.0,7.0,12.0,20.0,57.0,7.891495

In [17]:
cancelled_diverted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104488 entries, 0 to 104487
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   FlightDate          104488 non-null  object
 1   Day_Of_Week         104488 non-null  object
 2   Airline             104488 non-null  object
 3   Tail_Number         104488 non-null  object
 4   Cancelled           104488 non-null  float64
 5   Diverted            104488 non-null  float64
 6   Dep_Airport         104488 non-null  object
 7   Dep_CityName        104488 non-null  object
 8   DepTime_label       104488 non-null  object
 9   Dep_Delay           104488 non-null  float64
 10  Dep_Delay_Tag       104488 non-null  int64
 11  Dep_Delay_Type      104488 non-null  object
 12  Arr_Airport         104488 non-null  object
 13  Arr_CityName        104488 non-null  object
 14  Arr_Delay           104488 non-null  float64
 15  Arr_Delay_Type      104488 non-null  object
 16  Flight_Duration     104488 non-null  float64
 17  Distance_type       104488 non-null  object
 18  Delay_Carrier       104488 non-null  float64
 19  Delay_Weather       104488 non-null  float64
 20  Delay_NAS           104488 non-null  float64
 21  Delay_Security      104488 non-null  float64
 22  Delay_LastAircraft  104488 non-null  float64
dtypes: float64(10), int64(1), object(12)
memory usage: 18.3+ MB

In [18]:
cancelled_diverted.sample(5)

,FlightDate,Day_Of_Week,Airline,Tail_Number,Cancelled,Diverted,Dep_Airport,Dep_CityName,DepTime_label,Dep_Delay,...,Arr_CityName,Arr_Delay,Arr_Delay_Type,Flight_Duration,Distance_type,Delay_Carrier,Delay_Weather,Delay_NAS,Delay_Security,Delay_LastAircraft
65496,2023-07-21,Friday,Delta Air Lines Inc,N356NW,1.0,0.0,ROC,"Rochester, NY",Morning,0.0,...,"Atlanta, GA",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
37660,2023-04-13,Thursday,Alaska Airlines Inc.,N611AS,1.0,0.0,ANC,"Anchorage, AK",Morning,0.0,...,"Seattle, WA",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
4103,2023-01-24,Tuesday,American Eagle Airlines Inc.,N276NN,0.0,1.0,MIA,"Miami, FL",Morning,35.0,...,"Houston, TX",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
17146,2023-02-01,Wednesday,Southwest Airlines Co.,N944WN,1.0,0.0,ELP,"El Paso, TX",Morning,0.0,...,"Austin, TX",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0
4382,2023-01-17,Tuesday,American Eagle Airlines Inc.,N281NN,1.0,0.0,DFW,"Dallas/Fort Worth, TX",Afternoon,0.0,...,"Asheville, NC",0.0,No Arrival Delay,0.0,Short Haul,0.0,0.0,0.0,0.0,0.0

In [19]:
cancelled_diverted[cancelled_diverted["Tail_Number"] == "0"]["Cancelled"].eq(1.0)

3240      True
3241      True
3242      True
3243      True
3244      True
          ...
103280    True
103282    True
103296    True
103305    True
103310    True
Name: Cancelled, Length: 15486, dtype: bool

In [20]:
def normalize_columns(df):
    df.columns =df.columns.str.lower().str.replace(" ","_")
    return df

In [21]:
flights = normalize_columns(flights)
cancelled_diverted= normalize_columns(cancelled_diverted)
weather = normalize_columns(weather)
airports_location = normalize_columns(airports_location)

In [22]:
flights.sample()

,flightdate,day_of_week,airline,tail_number,dep_airport,dep_cityname,deptime_label,dep_delay,dep_delay_tag,dep_delay_type,...,flight_duration,distance_type,delay_carrier,delay_weather,delay_nas,delay_security,delay_lastaircraft,manufacturer,model,aicraft_age
856258,2023-02-08,Wednesday,Southwest Airlines Co.,N232WN,MDW,"Chicago, IL",Afternoon,4,1,Low <5min,...,208,Short Haul >1500Mi,0,0,0,0,0,BOEING,737 NG,18

In [25]:
print("airports", airports_location.duplicated().sum())
print("cancelled_diverted", cancelled_diverted.duplicated().sum())
print("flights", flights.duplicated().sum())
print("weather", weather.duplicated().sum())

airports 0
cancelled_diverted 945
flights 31
weather 0

In [28]:
flights=flights.drop_duplicates()
cancelled_diverted=cancelled_diverted.drop_duplicates()

In [29]:
print("airports", airports_location.duplicated().sum())
print("cancelled_diverted", cancelled_diverted.duplicated().sum())
print("flights", flights.duplicated().sum())
print("weather", weather.duplicated().sum())

airports 0
cancelled_diverted 0
flights 0
weather 0